$color-primary: 340;
$color-secondary: 45;
$color-light: hsl(35, 100%, 99%);
$color-med: hsl($color-primary, 100%, 50%);
$color-dark: hsl($color-primary, 100%, 30%);
$color-black: hsl($color-primary, 100%, 5%);

$ff-heading: 'Montserrat', sans-serif;
$ff-body: 'Inter', sans-serif;
$letter-spacing: -0.05ch;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-body;
}

a {
  text-decoration: none;
  color: $color-light;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: $color-med;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-items: center;
  align-items: center;

  &__title {
    color: $color-light;
    font-family: $ff-heading;
    text-align: center;
    font-size: clamp(1rem, 1rem + 2vmin, 2rem);
    font-weight: 800;
    letter-spacing: $letter-spacing;

    grid-column: 2 / 3;
    margin: 0.5em;
  }

  &__icon-container {
    $size: 2rem;
    fill: $color-light;
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    $size: clamp(0.5rem, 0.5rem + 1vw, 1.1rem);
    fill: $color-light;
    width: $size;
    height: $size;
  }
}

.modal {
  background-color: $color-dark;
  color: $color-light;
  padding: 0.5em;
  width: 90%;
  height: 90%;
  position: absolute;
  inset: 0;
  z-index: 10;
  margin: auto;

  &__title {
    font-family: $ff-heading;
    text-align: center;
    font-size: clamp(1rem, 1rem + 2vmin, 3rem);
    font-weight: 700;
    letter-spacing: $letter-spacing;
    padding: 0 1em;
    margin-bottom: 1em;
  }

  &__icon-container {
    width: 2rem;
  }

  &__icon {
    fill: $color-light;
  }
}

.main {
  height: 100%;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.main__container {
  // border: 1px solid green;
  padding-top: clamp(1em, 1em + 1vmin, 4em);
  width: 100%;
  max-width: min(95%, 80em);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  // gap: 2rem;
  row-gap: clamp(1em, 1em + 2vmin, 4em);
  column-gap: clamp(0.5em, 0.5em + 1vmin, 4em);
  // column-gap: clamp(1rem, -0.316rem + 7.018vw, 6rem);

  @media (orientation: landscape) and (min-width: 45em) {
    flex-direction: row;
  }
}

.loading {
  // border: 1px dotted white;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  // align-items: center;

  &__message {
    // text-align: center;
    color: $color-dark;
    font-family: $ff-heading;
    font-size: 1.2rem;
    font-size: calc(1rem + 1vw);
    font-weight: 800;
    letter-spacing: $letter-spacing;
  }
}

.image__container {
  // background-color: orange;
  min-height: 30vmax;
  max-height: 30vmin;
  max-width: 100%;
  height: min(100%, 50vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @media (orientation: landscape) and (min-width: 50em) {
    flex: 1;
  }
}

.image {
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
  box-shadow: 3px 5px 8px 0px hsl($color-primary, 10%, 60%);
}

.info {
  padding: 0.5em;
  max-width: 40em;
  width: min(100%, 35em);
  margin: 0 auto;
  flex: 1;

  &__title {
    color: transparent;
    margin-bottom: 0.5em;
    font-family: $ff-body;
    font-size: clamp(2rem, 2rem + 3vmin, 4rem);
    font-weight: 800;
    letter-spacing: $letter-spacing;
    background: linear-gradient(0deg, $color-dark, 30%, $color-med);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // @media (min-width: 70em) {
    //   font-size: clamp(1rem, 2rem + 2vmin, 3rem);
    // }
  }

  &__subs {
    display: flex;
    flex-wrap: wrap;
  }

  &__sub {
    color: $color-dark;
    font-size: clamp(0.5rem, 0.5rem + 1vmin, 1rem);
    font-weight: 600;
    line-height: 1;
    letter-spacing: $letter-spacing;
    // padding: 0;
    margin-bottom: 0.2em;
  }

  &__facts {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  &__wrapper {
    // border: 1px dotted red;
    // font-size: clamp(0.5rem, 0.5rem + 1vmin, 0.9rem);
    margin-bottom: 0.1em;
    // display: flex;
    // gap: 0.5rem;
  }

  &__label {
    font-family: $ff-heading;
    font-size: clamp(0.4rem, 0.4rem + 1vmin, 0.9rem);
    font-weight: 600;
    // letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $color-med;
  }

  &__text {
    color: $color-black;
    font-size: clamp(0.4rem, 0.4rem + 1vmin, 0.9rem);
    font-family: $ff-heading;
    font-weight: 500;
    letter-spacing: $letter-spacing;
  }

  &__para {
    margin-bottom: 2.5em;
    // color: $color-black;
    font-family: $ff-heading;
    font-weight: 500;
    font-size: clamp(0.5rem, 0.5rem + 1vmin, 1rem);
    line-height: 1.3;
    letter-spacing: $letter-spacing;

    &::first-letter {
      float: left;
      padding-right: 0.8rem;
      color: $color-med;
      font-family: 'Great Vibes', cursive;
      font-size: 2.5rem;
      text-shadow: -1px 1px 1px $color-dark;
    }
  }

}

.button {
  cursor: pointer;
  width: 100%;
  background-color: $color-med;
  color: $color-light;
  border: none;
  border-radius: 50px;
  padding: 0.8em;
  font-family: $ff-heading;
  font-size: clamp(1.1rem, 0.7rem + 2vmin, 1.7rem);
  font-weight: 800;
  letter-spacing: $letter-spacing;
  box-shadow: inset 0px -5px 10px 3px $color-dark;
  transition: all 0.5s ease-in-out;

  &:hover,
  &:focus {
    background-color: $color-dark;
    // box-shadow: inset 0px -5px 7px 0 $color-dark;
  }

  &:active,
  &__active-tap {
    transform: scale(0.98);
    background-color: $color-med;
    box-shadow: inset 0px -5px 3px $color-dark;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    background-color: hsl($color-primary, 5%, 60%);
    box-shadow: none;
  }
}


.footer {
  background-color: $color-dark;
  color: $color-light;
  padding: calc(0.8rem + 1vh);
  font-family: $ff-heading;
  font-size: clamp(0.5rem, 0.5rem + 1vmin, 1rem);

  display: flex;
  justify-content: center;
  align-items: center;

  &__daterange {
    margin-right: 0.5rem;
    // border: 1px solid white;
  }

  &__link {
    transition: all 1s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__links {
    // border: 1px dotted white;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.5rem, 0.5rem + 1vmin, 0.8rem);
  }

  &__icon {
    fill: $color-light;
    margin-top: 0.2em;
    width: clamp(0.6rem, 0.6rem + 1vw, 1.1rem);
    height: clamp(0.6rem, 0.6rem + 1vw, 1.1rem);
    transition: all 1s ease-in-out;


    &:hover {
      transform: rotate(360deg) scale(1.5);
    }
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.hidden {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}