$color-primary: 340;
$color-secondary: 45;
$color-light: hsl(35, 100%, 99%);
$color-med: hsl($color-primary, 100%, 50%);
$color-dark: hsl($color-primary, 100%, 30%);
$color-black: hsl($color-primary, 100%, 5%);

$ff-heading: 'Montserrat', sans-serif;
$ff-body: 'Inter', sans-serif;
$letter-spacing: -0.05ch;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-body;
}

a {
  text-decoration: none;
  color: $color-light;
}

.wrapper {
  background-color: $color-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: $color-med;

  &__container {
    max-width: min(90%, 80em);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $color-light;
    font-family: $ff-heading;
    font-size: clamp(1rem, 1rem + 2vmin, 2rem);
    font-weight: 800;
    letter-spacing: $letter-spacing;

    @media (max-width: 60em) {
      margin-left: auto;
      padding-left: 2rem;
    }
  }

  &__icon-container {
    margin-left: auto;
    $size: 2rem;
    fill: $color-light;
    width: $size;
    height: $size;
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    $size: clamp(0.5rem, 0.5rem + 1vw, 1.1rem);
    fill: $color-light;
    width: $size;
    height: $size;
  }
}

.modal {
  background-color: $color-dark;
  color: $color-light;
  padding: 0.75em 0.5em 5em 0.5em;
  max-width: 80%;
  width: 70ch;
  height: fit-content;
  position: absolute;
  inset: 0;
  z-index: 10;
  margin: auto;
  border-radius: 5px;

  &__title {
    font-family: $ff-heading;
    text-align: center;
    font-size: clamp(1rem, 1rem + 2vmin, 3rem);
    font-weight: 700;
    letter-spacing: $letter-spacing;
    padding: 0 1em;
    margin-bottom: 1em;
  }

  &__icon-container {
    width: 1.5rem;
    margin-left: auto;
    cursor: pointer;
  }

  &__icon {
    fill: $color-light;
  }

  &__body {
    padding-inline: 1em;
    font-family: $ff-heading;
  }
}

.main {
  height: 100%;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.main__container {
  // border: 1px solid green;
  padding-top: clamp(1em, 1em + 1vmin, 2em);
  width: 100%;
  max-width: min(95%, 80em);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  gap: 3em;
  gap: clamp(0.5em, 0.5em + 3vmin, 3em);

  @media (orientation: landscape) and (min-width: 45em) {
    flex-direction: row;
  }
}

.loading {
  // border: 1px dotted white;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &__message {
    // text-align: center;
    color: $color-dark;
    font-family: $ff-heading;
    font-size: 1.2rem;
    font-size: calc(1rem + 1vw);
    font-weight: 800;
    letter-spacing: $letter-spacing;
  }

  &__spinner {
    width: 50px;
    height: 50px;
    -moz-animation: spinner 2s linear infinite;
    -webkit-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
  }
}

.image__container {
  min-height: 30vmax;
  max-height: 30vmin;
  max-width: 100%;
  height: min(100%, 50vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  @media (orientation: landscape) and (min-width: 50em) {
    flex: 1;
  }
}

.image {
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
  box-shadow: 3px 5px 8px 0px hsl($color-primary, 10%, 60%);
}

.info {
  padding: 0.5em;
  max-width: 40em;
  width: min(100%, 35em);
  margin: 0 auto;
  flex: 1;

  &__title {
    color: transparent;
    padding-bottom: 0.1em;
    margin-bottom: 0.3em;
    font-family: $ff-body;
    font-size: clamp(1.8rem, 1.8rem + 3vmin, 3rem);
    font-weight: 800;
    line-height: 1;
    letter-spacing: $letter-spacing;
    background: linear-gradient(0deg, $color-dark, 30%, $color-med);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subs {
    display: flex;
    flex-wrap: wrap;
  }

  &__sub {
    color: $color-dark;
    font-size: clamp(0.55rem, 0.55rem + 1vmin, 1.1rem);
    font-weight: 600;
    line-height: 1;
    letter-spacing: $letter-spacing;
    margin-bottom: 0.2em;
  }

  &__facts {
    margin-top: 1.6em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  &__wrapper {
    margin-bottom: 0.1em;
  }

  &__label {
    font-family: $ff-heading;
    font-size: clamp(0.45rem, 0.45rem + 1vmin, 1rem);
    font-weight: 600;
    // letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $color-med;
  }

  &__text {
    color: $color-black;
    font-size: clamp(0.45rem, 0.45rem + 1vmin, 1rem);
    font-family: $ff-heading;
    font-weight: 500;
    letter-spacing: $letter-spacing;
  }

  &__para {
    margin-bottom: 2.5em;
    // color: $color-black;
    font-family: $ff-heading;
    font-weight: 500;
    font-size: clamp(0.55rem, 0.55rem + 1vmin, 1rem);
    line-height: 1.3;
    letter-spacing: $letter-spacing;

    &::first-letter {
      float: left;
      padding-right: 1rem;
      color: $color-med;
      font-family: 'Great Vibes', cursive;
      font-size: 2.5rem;
      text-shadow: -1px 1px 1px $color-dark;
    }
  }

}

.tooltip__container {
  display: inline;
  position: relative;
}

.tooltip__content {
  position: absolute;
  width: max-content;
  padding: 0.5rem 1.5rem;
  background-color: $color-dark;
  color: $color-light;
  border-radius: 50px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-70%);
  font-size: 1rem;
  font-size: clamp(0.7rem, 0.7rem + 1vmin, 1rem);
}

.form {

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 2em;
  }

  &__group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: fit-content;
    min-width: 12rem;
  }

  &__label {
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-family: $ff-heading;
    font-size: clamp(0.4rem, 0.4rem + 1vmin, 0.9rem);
    font-weight: 600;
    text-transform: uppercase;
    color: $color-med;
  }

  &__input {
    background-color: rgb(220, 238, 252);
    cursor: pointer;
    color: $color-black;
    padding: 0.6rem;
    // height: 2.5rem;
    width: 100%;
    font-family: $ff-body;

    font-size: 0.9rem;
    border-radius: 50px;
    border: 2px solid $color-med;

  }

  &__select {
    // Only way to apply border properties in Safari
    -webkit-appearance: none;
    appearance: none;
  }

  &__option {
    font-family: $ff-body;
  }
}

.input-wrapper {
  position: relative;
}

.input__icon {
  position: absolute;
  right: 1rem;
  top: 55%;
  transform: translateY(-50%);
  width: 1.2rem;
  fill: $color-med;
  cursor: pointer;
}

.dropdown__icon {
  pointer-events: none;
}

.button {
  cursor: pointer;
  width: 100%;
  background-color: $color-med;
  color: $color-light;
  border: none;
  border-radius: 50px;
  padding: 1.5rem 0;
  font-family: $ff-heading;
  font-size: 1rem;
  font-size: clamp(1rem, 1rem + 2vmin, 2.5rem);
  font-weight: 800;
  letter-spacing: $letter-spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -5px 10px 3px $color-dark;
  transition: all 0.5s ease-in-out;

  &:hover,
  &:focus {
    background-color: $color-dark;
  }

  &:active,
  &__active-tap {
    transform: scale(0.98);
    background-color: $color-med;
    box-shadow: inset 0px -5px 3px $color-dark;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    background-color: hsl($color-primary, 5%, 65%);
    box-shadow: none;
  }
}

.footer {
  background-color: $color-dark;
  color: $color-light;
  padding: calc(0.8rem + 1vh);
  font-family: $ff-heading;
  font-size: clamp(0.5rem, 0.5rem + 1vmin, 1rem);

  display: flex;
  justify-content: center;
  align-items: center;

  &__date {
    margin-right: 0.5rem;
    // border: 1px solid white;
  }

  &__link {
    transition: all 1s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__links {
    // border: 1px dotted white;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.5rem, 0.5rem + 1vmin, 0.8rem);
  }

  &__icon {
    fill: $color-light;
    margin-top: 0.2em;
    width: clamp(0.6rem, 0.6rem + 1vw, 1.1rem);
    height: clamp(0.6rem, 0.6rem + 1vw, 1.1rem);
    transition: all 1s ease-in-out;


    &:hover {
      transform: rotate(360deg) scale(1.5);
    }
  }
}

.fade-in {
  -moz-animation: fadeIn 3s ease-in-out;
  -webkit-animation: fadeIn 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
}

.hidden {
  opacity: 0;
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}